* {
	margin: 0;
	padding: 0;
}

@mixin titulos($seccion) {
	@if $seccion == "home" {
		color: rgb(68, 66, 66);
		font-family: "Georama", sans-serif;
		font-size: 4rem;
		margin-top: 5%;
	}
	@if $seccion == "contacto" {
		color: rgb(68, 66, 66);
		font-family: "Georama", sans-serif;
		font-size: 4rem;
		margin-top: 5%;
	}
	@if $seccion == "productos" {
		color: rgb(68, 66, 66);
		text-align: center;
		font-size: 4rem;
	}
	@if $seccion == "nosotros" {
		color: rgb(68, 66, 66);
		font-family: "Georama", sans-serif;
		font-size: 4rem;
		margin-top: 5%;
	}
	@if $seccion == "galeria" {
		color: rgb(68, 66, 66);
		font-family: "Georama", sans-serif;
		font-size: 4rem;
	}
}
/*Layout*/

.layout {
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: "header" "main" "footer";
	height: 100vh;
}
/*Encabezado*/
.navbar {
	grid-area: header;
	font-family: "Georama", sans-serif;
	font-style: italic;
	width: 100%;
	height: 100%;
	color: hsl(161, 73%, 6%);
	background-color: white;
}

/*Contenido*/
main {
	grid-area: main;
	background-image: linear-gradient(to top, #68b79c, rgb(243, 255, 245));
}
.home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__textoPrincipal {
		margin-left: 10%;
	}
	&__contenido {
		font-family: "Georama", sans-serif;
		margin-right: 5%;
	}
	&__titulosParrafos {
		@include titulos("home");
	}
}
aside {
	width: 50%;
}

.carousel.slide,
.carousel-inner {
	height: 98%;
}
.d-block {
	margin: 20px auto;
	border-radius: 10px;
}
/*Nosotros*/
.nosotros {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__textoPrincipal {
		margin-left: 10%;
	}
	&__titulosParrafos {
		@include titulos("nosotros");
	}
	&__contenido {
		font-family: "Georama", sans-serif;
		margin-right: 5%;
	}
	&__contenedorFotoNosotros {
		width: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		&__foto {
			width: 80%;
			height: 80%;
			border-radius: 20px;
		}
	}
}
/*footer*/
footer {
	grid-area: footer;
	background-color: #041a13;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*Comun a todas las paginas*/
.footer_iconos {
	height: 32px;
	width: 32px;
	margin: 15px;
}
.ruteo {
	text-decoration: none;
	color: #041a13;
}

/*Contacto*/
.contacto {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__titulosParrafos {
		@include titulos("contacto");
	}
	&__contenedorTitulo {
		width: 50%;
		margin-left: 5%;
	}
	&__contenedorFormulario {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 50%;
		font-family: "Georama", sans-serif;
		text-align: center;
		margin: 5% 5%;
	}
}

/*Galeria*/
.galeria {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 70%;
	grid-template-areas: "titulo titulo" "video fotos";

	&__contenedorTitulo {
		grid-area: titulo;
		&__titulo {
			@include titulos("galeria");
		}

		width: 100%;
		margin: 2% 5%;
	}
	&__contenedorVideo {
		grid-area: video;
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		justify-items: center;
		align-items: center;

		&__video {
			width: 80%;
			height: 80%;
		}
	}
	&__contenedorGaleria {
		grid-area: fotos;
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"fotoUno fotoDos fotoTres"
			"fotoCuatro fotoCinco fotoSeis";
		justify-items: center;
		align-items: center;
		&__Fotos {
			width: 180px;
			height: 180px;
		}
		&__Fotos:hover {
			transform: scale(1.2);
		}
	}
}

/*Productos*/

.productosQuery {
	grid-area: main;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: max-content;
}
.tablaCaracteristicas {
	list-style-type: none;
}

#tituloProductos {
	@include titulos("productos");
}

/*Media Querys*/

@media only screen and (max-width: 620px) {
	.logo {
		width: auto;
	}
	.home {
		flex-direction: column;
		height: max-content;
	}
	aside {
		width: 100%;
	}

	.layout {
		grid-template-rows: auto;
	}
	.galeria {
		grid-template-columns: 100%;
		grid-template-rows: 40% 30% 30%;
		grid-template-areas: "titulo" "video" "fotos";

		&__contenedorGaleria__Fotos {
			width: 90px;
			height: 90px;
			&__Fotos:hover {
				transform: none;
			}
		}
		&__contenedorTitulo {
			text-align: center;
			width: 90%;
			padding-bottom: 25%;
		}
	}

	.productosQuery {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#subtituloProductos {
		text-align: center;
	}
	.nosotros {
		display: block;
	}
	.nosotros__contenedorFotoNosotros {
		display: block;
		margin: auto;
		width: 75%;
		margin-bottom: 5%;
		&__foto {
			width: 100%;
		}
	}

	.header__productos {
		height: auto;
	}
	.contacto {
		display: block;

		&__contenedorTitulo {
			width: 100%;
			text-align: center;
			margin: 0;
		}
		&__contenedorFormulario {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 85%;
			font-family: "Georama", sans-serif;
			text-align: center;
		}
	}
}

/* Incremento a partir de 620px Tablet chica*/

@media only screen and (min-width: 620px) {
	.galeria {
		&__contenedorGaleria {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 33% 33% 33%;
			grid-template-areas:
				"fotoUno fotoDos"
				"fotoTres fotoCuatro"
				"fotoCinco fotoSeis";
			justify-items: center;
			align-items: center;

			&__Fotos {
				width: 130px;
				height: 130px;
			}
			&__Fotos:hover {
				transform: none;
			}
		}
	}

	.productosQuery {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#subtituloProductos {
		text-align: center;
	}
	aside {
		width: 50%;
	}
	.nosotros {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__textoPrincipal {
			margin-left: 10%;
		}
		&__titulosParrafos {
			@include titulos("nosotros");
		}
		&__contenido {
			font-family: "Georama", sans-serif;
			margin-top: 5px;
		}
		&__contenedorFotoNosotros {
			width: 50%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			&__foto {
				width: 80%;
				height: 80%;
				border-radius: 20px;
			}
		}
	}
}

/*A partir de 768 px Tablet Grande*/

@media only screen and (min-width: 768px) {
	.galeria {
		&__contenedorTitulo {
			width: 85%;
		}
		&__contenedorGaleria {
			grid-area: fotos;
			display: grid;
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 50% 50%;
			grid-template-areas:
				"fotoUno fotoDos fotoTres"
				"fotoCuatro fotoCinco fotoSeis";
			justify-items: center;
			align-items: center;

			&__Fotos {
				width: 100px;
				height: 100px;
			}
			&__Fotos:hover {
				transform: scale(1.2);
			}
		}
	}
	.carro {
		align-self: center;
	}
}

@media only screen and (min-width: 1024px) {
	.galeria {
		&__contenedorTitulo {
			width: 85%;
		}
		&__contenedorGaleria {
			grid-area: fotos;
			display: grid;
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 50% 50%;
			grid-template-areas:
				"fotoUno fotoDos fotoTres"
				"fotoCuatro fotoCinco fotoSeis";
			justify-items: center;
			align-items: center;

			&__Fotos {
				width: 130px;
				height: 130px;
			}
			&__Fotos:hover {
				transform: scale(1.2);
			}
		}
	}
}
